<header class="wrapper site-header" role="banner">
    <div class="container">

        <h1 class="site-title">BrowserSync</h1>
        <p class="site-lede">Time-saving synchronised browser testing.</p>

        <ul class="nav--inline">
        {% for link in site.navigation %}
            {% assign current = nil %}
            {% if page.page-label == link.page-label %}
                {% assign current = 'button button--primary' %}
            {% endif %}
            <li><a href="{{link.url}}" class="{{current}}">{{ link.label }}</a></li>
        {% endfor %}
        </ul>

    </div>
</header><!-- .end .site-header -->
