{% assign current = nil %}
{% if page.page-label != "home" %}
    {% assign current = 'alt' %}
{% endif %}

<header class="wrapper site-header {{current}}" role="banner">
    <div class="container">

        {% if page.page-label == "home" %}
            <h1 class="site-title">BrowserSync</h1>
            <p class="site-lede">Time-saving synchronised browser testing.</p>

            <ul class="nav--inline">
                {% for link in site.navigation %}
                    {% assign btnClass = nil %}
                    {% if page.page-label == link.page-label %}
                        {% assign btnClass = 'button button--primary' %}
                    {% endif %}
                    <li><a href="{{link.url}}" class="{{btnClass}}">{{ link.label }}</a></li>
                {% endfor %}
            </ul>
        {% else %}
            <h1 class="site-title alt"><a href="/">BrowserSync</a> / <span><a href="/docs">documentation</a></span></h1>

            <ul class="nav--inline docs-nav">
                {% for link in site.docs-navigation %}
                {% assign btnClass = nil %}
                {% if page.page-label == link.page-label %}
                {% assign btnClass = 'active' %}
                {% endif %}
                <li><a href="{{link.url}}" class="{{btnClass}}">{{ link.label }}</a></li>
                {% endfor %}
            </ul>
        {% endif %}


    </div>
</header><!-- .end .site-header -->