code, samp {

    @include font-size($mono-size);
    font-family: $mono-font-family;
    line-height: 1.25;
}

.lede {

    @include font-size($lede-size);
}

.code-example {

    padding-top: 0;

    p, h2, h3 {

        margin-bottom: $base-spacing;

        @media (min-width: $lap-start) {
            margin-bottom: $base-spacing*2;
            &.flush {
                margin-bottom: $base-spacing;
            }
        }

        &.flush {
            margin-bottom: $half-spacing;
        }
    }

    .container {

        background: white;
        padding-top: $base-spacing;
        padding-left: $base-spacing;
        padding-right: $base-spacing;

        @media (min-width: $lap-start) {
            padding-top: $base-spacing*2;
            padding-left: $base-spacing*2;
            padding-right: $base-spacing*2;
        }

        &:first-child {
            padding-top: $base-spacing;
        }
    }
}

.code-sample {

    background: $navy;
    padding: $base-spacing 0;
    margin-bottom: 0;

    .highlight {
        overflow-x: auto;
        width: auto;
        max-width: $page-width;
        list-style: none;
        padding-left: $base-spacing;
        padding-right: $base-spacing;

        @media (min-width: $lap-start) {
            padding-left: $base-spacing*2;
            padding-right: $base-spacing*2;
        }
        margin: 0 auto;
        background: $navy!important;
        border-radius: 0;
    }
    pre {
        display: block;
        white-space: pre;
        word-wrap: normal;
        padding: 0;
        padding-top: $half-spacing;
    }
}