.site-footer {

    background: $navy;
    color: $white;
    text-align: center;

    a {
        color: $white;
        font-weight: bold;

        &:hover,
        &:focus {
            // color: $white;
        }
    }
}